version: "3"
services:
  flower:
    image: python:latest
    network_mode: host
    environment:
      - LISTEN_PORT=8089
      - NS_REDIS_BROKER=redis://localhost:6379/0
      - BASIC_AUTH_TOKENS=admin:12345678
    command: "bash -c 'pip3 install flower && flower $$NS_REDIS_BROKER --port=$$LISTEN_PORT --address 0.0.0.0 --basic_auth=$$BASIC_AUTH_TOKENS'"
  celery:
    image: python:latest
    volumes:
      - ./:/nunaserver
      - /tmp:/tmp
    network_mode: host
    environment:
      - CELERY_BROKER_URL=redis://localhost
      - CELERY_RESULT_BACKEND=redis://localhost
      - NS_REDIS_RESULT=redis://localhost
      - NS_REDIS_BROKER=redis://localhost:6379/0
      - NS_MINIO_URL=localhost:9000
      - NS_MINIO_ACCESS_KEY=nunaweb
      - NS_MINIO_SECRET_KEY=supersecurepassword
      - NS_LOG_FOLDER=stderr
      - NS_LOG_LEVEL=20
    command: "bash -c 'cd /nunaserver && pip3 install -r requirements.txt && celery -A nunaserver.generator worker --loglevel=info'"
  nunaserver:
    image: python:latest
    volumes:
      - ./:/nunaserver
      - /tmp:/tmp
    network_mode: host
    environment:
        # change this
      - CSRF_SECRET_KEY=abc123
      - NS_UPLOAD_FOLDER=/nunaserver/uploads
      - NS_REDIS_RESULT=redis://localhost
      - NS_REDIS_BROKER=redis://localhost:6379/0
      - NS_MINIO_URL=localhost:9000
      - NS_MINIO_ACCESS_KEY=nunaweb
      - NS_MINIO_SECRET_KEY=supersecurepassword
      - NS_LOG_FOLDER=stderr
      - NS_LOG_LEVEL=20
      - FLASK_ENV=development
      - CORS_ALLOWED_DOAMINS=*
    command: "bash -c 'cd /nunaserver && pip3 install -r requirements.txt && python3 -m nunaserver'"
    healthcheck:
      test: ["CMD", "curl", "http://localhost:5000/health"]
      interval: 1s
      timeout: 3s
      retries: 60
    depends_on:
      minio:
        condition: service_healthy
      redis:
        condition: service_started
  minio:
    image: minio/minio:latest
    volumes:
      - ./data:/data
    network_mode: host
    environment:
      # CHANGE THIS
      MINIO_ROOT_USER: nunaweb
      MINIO_ROOT_PASSWORD: supersecurepassword
    command: server /data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
  redis:
    image: redis:latest
    network_mode: host