# Flask for serving (obviously) + CORS api + flask security plugins
flask
flask-cors
flask-limiter
flask-seasurf
flask-talisman
gunicorn

# Requests for downloading external repos
requests

# Celery
celery
redis

# Nunavut
nunavut
pydsdl

# MinIO
minio
flask-minio