# Flask for serving (obviously) + CORS api
flask==2.3.3
flask-cors==3.0.10
flask-limiter==1.4
gunicorn==20.1.0

# Requests for downloading external repos
requests==2.25.1

# Celery
celery==5.3.4
redis==5.0.1

# Nunavut
nunavut==2.3.1
pydsdl==1.20.1

# MinIO
minio==7.0.3
flask-minio==0.1.2
